<%- include("partials/header") %>

<div class="container py-5">
  <div class="p5 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-4">Uh Oh!</h1>
      <p class="lead">There's some problem.</p>
      <form action="/" method="get">
        <div class="d-grid col-3">
          <button type="submit" class="btn btn-outline-dark btn-lg">Back</button>
        </div>
      </form>
    </div>
  </div>
</div>

<%- include("partials/footer")%>
